{{define "content"}}{{$l := .Data}}
<div class="head">
<div>
<h1>Batches</h1>
</div>
</div>

<section class="panel">
{{- if $l.Batches}}
<div class="tbl">
<table class="grid">
<thead><tr><th class="id">ID</th><th>Description</th><th class="w-progress">Progress</th><th class="r">Jobs</th><th>Status</th><th class="r">Created</th></tr></thead>
<tbody>
{{- range $l.Batches}}
<tr>
<td class="id"><a href="{{link "/batches/" .ID}}">{{.ID}}</a></td>
<td><a class="link" href="{{link "/batches/" .ID}}">{{if .Description}}{{.Description}}{{else}}<span class="dim">Untitled</span>{{end}}</a></td>
<td><span class="progress-cell">{{template "progress" .}}<span class="num dim">{{.Percent}}%</span></span></td>
<td class="r num">{{num .Done}}<span class="of">/{{num .Total}}</span></td>
<td>{{if .Finished}}<span class="badge s-succeeded"><i></i>Finished</span>{{else if .Sealed}}<span class="badge s-processing"><i></i>Running</span>{{else}}<span class="badge s-awaiting"><i></i>Open</span>{{end}}</td>
<td class="r nowrap">{{template "when" .CreatedAt}}</td>
</tr>
{{- end}}
</tbody>
</table>
</div>
{{- else}}{{template "empty" "No batches yet."}}{{end}}
{{template "pager" $l}}
</section>
{{end}}
